<main class="main-content">
  <mat-card class="custom-card-width" appearance="outlined">
    <!-- Add todo text field ✒️ -->
    <form class="example-form">
      <mat-form-field style="width: 100%">
        <mat-label>New Todo</mat-label>
        <input name="todo" (keydown.enter)="addTodo()" [(ngModel)]="userTodo" matInput placeholder="Your todo here">
      </mat-form-field>
    </form>
    <mat-card-content>

      <!--TODO Items TODO ✅-->
      <div class="example-container">
        <h2>To do</h2>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todoItems"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of todoItems; track item) {
            <div class="example-box" cdkDrag>
              {{ item }}
              <button (click)="deleteItem(item, 'itemTodo')">x</button>
            </div>
          }
        </div>
      </div>

      <!--TODO Items Done 📝-->
      <div class="example-container">
        <h2>Done</h2>
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="doneItems"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of doneItems; track item) {
            <div class="example-box" cdkDrag>
              {{ item }}
              <button (click)="deleteItem(item, 'done')">x</button>
            </div>
          }
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</main>
